In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv("Dummy_Sales_Data_v1.csv")
df.head()

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223

In [62]:
#Filtering using single condition
df.query("Quantity == 95")

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
102,1464410000999914644,95,227,Shipped,2021-10-26,Healthcare,Sofia,30,18.0,UK,HC-901,444995
298,4005610000999940056,95,180,Delivered,2021-09-19,Healthcare,Pablo,35,18.0,UK,HC-203,444558
300,4251110000999942511,95,114,Not Shipped,2021-09-16,Home,Kristen,23,17.0,Germany,H-203,444555
309,3579610000999935796,95,104,Shipped,2021-12-09,Fashion,Sofia,32,25.0,Germany,F-630,445339
...,...,...,...,...,...,...,...,...,...,...,...,...
9400,4248810000999942488,95,154,Shipped,2021-11-15,Entertainment,Pablo,20,23.0,USA,ENT-630,445115
9581,2604810000999926048,95,122,Not Delivered,2021-10-29,Fashion,Sofia,25,10.0,UK,F-101,444998
9643,3654610000999936546,95,122,Delivered,2021-12-14,Office,Pablo,22,16.0,Singapore,O-901,445444
9650,3903910000999939039,95,223,Not Delivered,2021-07-12,Home,Anthony,21,14.0,USA,H-630,443889
9805,1484210000999914842,95,152,Not Delivered,2021-12-30,Fashion,Jacob,30,21.0,Kenya,F-101,445660

In [63]:
#Filtering using two condition in AND logic
df.query("Quantity == 95 and UnitPrice(USD) == 182")

ValueError: "UnitPrice" is not a supported function

In [66]:
#Filtering using two condition in AND logic
df.query("Quantity == 95 and `UnitPrice(USD)` == 182")

,OrderID,Quantity,UnitPrice(USD),Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
2634,1243110000999912431,95,182,Shipped,2021-10-17,Entertainment,Maria,25,12.0,Singapore,ENT-555,444886
3081,3941410000999939414,95,182,Shipped,2021-11-11,Healthcare,Abdul,34,18.0,UK,HC-101,445111

In [67]:
df.rename(columns={'UnitPrice(USD)':'UnitPrice', 
                   'Shipping_Cost(USD)':'Shipping_Cost',
                   'Delivery_Time(Days)':'Delivery_Time'},
          inplace=True)
df.head()

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223

In [68]:
#Filtering using two condition in AND logic
df.query("Quantity == 95 and UnitPrice == 182")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
2634,1243110000999912431,95,182,Shipped,2021-10-17,Entertainment,Maria,25,12.0,Singapore,ENT-555,444886
3081,3941410000999939414,95,182,Shipped,2021-11-11,Healthcare,Abdul,34,18.0,UK,HC-101,445111

In [34]:
#Filtering using two condition in OR logic
df.query("Quantity == 95 or UnitPrice == 182")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
102,1464410000999914644,95,227,Shipped,2021-10-26,Healthcare,Sofia,30,18.0,UK,HC-901,444995
235,4983710000999949837,62,182,Not Shipped,2021-11-25,Fashion,Sofia,24,21.0,Kenya,F-101,445225
240,3044810000999930448,39,182,Not Shipped,2021-12-18,Home,Maria,28,21.0,Kenya,H-101,445448
256,4575110000999945751,74,182,Not Delivered,2021-08-26,Fashion,Emma,23,19.0,USA,F-630,444334
...,...,...,...,...,...,...,...,...,...,...,...,...
9650,3903910000999939039,95,223,Not Delivered,2021-07-12,Home,Anthony,21,14.0,USA,H-630,443889
9695,2859810000999928598,51,182,Not Delivered,2021-11-01,Office,Stella,24,18.0,USA,O-101,445001
9745,2690010000999926900,72,182,Not Shipped,2021-07-03,Entertainment,Emma,35,22.0,Kenya,ENT-188,443880
9805,1484210000999914842,95,152,Not Delivered,2021-12-30,Fashion,Jacob,30,21.0,Kenya,F-101,445660
9918,2389510000999923895,90,182,Shipped,2021-10-04,Entertainment,Jacob,28,20.0,USA,ENT-188,444773

In [53]:
df.query("Quantity == 95 | UnitPrice == 182")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
102,1464410000999914644,95,227,Shipped,2021-10-26,Healthcare,Sofia,30,18.0,UK,HC-901,444995
235,4983710000999949837,62,182,Not Shipped,2021-11-25,Fashion,Sofia,24,21.0,Kenya,F-101,445225
240,3044810000999930448,39,182,Not Shipped,2021-12-18,Home,Maria,28,21.0,Kenya,H-101,445448
256,4575110000999945751,74,182,Not Delivered,2021-08-26,Fashion,Emma,23,19.0,USA,F-630,444334
...,...,...,...,...,...,...,...,...,...,...,...,...
9650,3903910000999939039,95,223,Not Delivered,2021-07-12,Home,Anthony,21,14.0,USA,H-630,443889
9695,2859810000999928598,51,182,Not Delivered,2021-11-01,Office,Stella,24,18.0,USA,O-101,445001
9745,2690010000999926900,72,182,Not Shipped,2021-07-03,Entertainment,Emma,35,22.0,Kenya,ENT-188,443880
9805,1484210000999914842,95,152,Not Delivered,2021-12-30,Fashion,Jacob,30,21.0,Kenya,F-101,445660
9918,2389510000999923895,90,182,Shipped,2021-10-04,Entertainment,Jacob,28,20.0,USA,ENT-188,444773

In [60]:
#Filtering using one condition in NOT logic
df.query("not (Quantity == 95)")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

In [54]:
df.query("~(Quantity == 95)")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

In [55]:
df.query("Quantity != 95")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

In [57]:
# Filtering on Text column
df.query("Status == 'Not Shipped'")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
8,2804110000999928041,31,163,Not Shipped,2021-12-23,Fashion,Abdul,34,16.0,Kenya,F-901,445553
10,4337210000999943372,57,226,Not Shipped,2021-09-27,Home,John,24,14.0,UK,H-555,444666
13,4583610000999945836,46,208,Not Shipped,2021-07-28,Home,Jacob,29,19.0,UK,H-188,444005
15,1444810000999914448,5,119,Not Shipped,2021-10-13,Office,Stella,33,20.0,India,O-555,444882
...,...,...,...,...,...,...,...,...,...,...,...,...
9965,2561710000999925617,55,102,Not Shipped,2021-07-14,Entertainment,Kristen,31,14.0,USA,ENT-101,443991
9971,4839110000999948391,74,106,Not Shipped,2021-09-10,Office,Jacob,25,22.0,Kenya,O-901,444449
9976,4106710000999941067,47,237,Not Shipped,2021-09-10,Office,Stella,24,15.0,USA,O-188,444449
9978,4626810000999946268,10,103,Not Shipped,2021-10-03,Fashion,Sofia,32,19.0,Singapore,F-203,444772
9990,4241810000999942418,94,211,Not Shipped,2021-07-07,Entertainment,Emma,27,19.0,Singapore,ENT-901,443884

In [11]:
df.columns

Index(['OrderID', 'Quantity', 'UnitPrice(USD)', 'Status', 'OrderDate',
       'Product_Category', 'Sales_Manager', 'Shipping_Cost(USD)',
       'Delivery_Time(Days)', 'Shipping_Address', 'Product_Code', 'OrderCode'],
      dtype='object')

In [69]:
# Filtering with math operation
df.query("Shipping_Cost*2 < 50")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
7,4797510000999947975,48,240,Delivered,2021-10-04,Fashion,Abdul,22,21.0,Kenya,F-203,444773
9,1735910000999917359,62,214,Not Delivered,2021-08-14,Fashion,John,22,17.0,Germany,F-901,444222
10,4337210000999943372,57,226,Not Shipped,2021-09-27,Home,John,24,14.0,UK,H-555,444666
...,...,...,...,...,...,...,...,...,...,...,...,...
9983,4107210000999941072,57,162,Not Delivered,2021-08-26,Healthcare,Abdul,23,21.0,India,HC-188,444334
9987,4659010000999946590,53,105,Delivered,2021-09-19,Fashion,Anthony,20,22.0,USA,F-630,444558
9992,3733010000999937330,28,160,Shipped,2021-09-27,Fashion,Anthony,21,14.0,India,F-188,444666
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553

In [72]:
# Filtering with math operation
df.query("Quantity**2 + Shipping_Cost**2 < 500")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
30,1408910000999914089,7,130,Delivered,2021-07-04,Healthcare,Sofia,20,NaN,UK,HC-630,443881
177,1923610000999919236,3,147,Delivered,2021-12-24,Office,Anthony,20,21.0,Italy,O-203,445554
178,2930810000999929308,3,190,Not Shipped,2021-10-11,Office,Pablo,21,20.0,China,O-555,444880
323,1321310000999913213,6,202,Not Shipped,2021-07-11,Fashion,Emma,21,15.0,USA,F-630,443888
336,2362110000999923621,3,178,Not Shipped,2021-07-10,Fashion,Stella,22,15.0,Italy,F-188,443887
...,...,...,...,...,...,...,...,...,...,...,...,...
9685,1382310000999913823,9,148,Shipped,2021-10-14,Entertainment,Jacob,20,18.0,Kenya,ENT-203,444883
9737,1370410000999913704,2,147,Not Delivered,2021-12-07,Home,Maria,21,15.0,USA,H-101,445337
9769,2248110000999922481,7,205,Delivered,2021-12-23,Office,Pablo,20,18.0,Kenya,O-101,445553
9849,3684910000999936849,2,149,Delivered,2021-12-24,Healthcare,Emma,20,14.0,Kenya,HC-630,445554
9955,4626010000999946260,6,249,Not Shipped,2021-08-29,Home,Pablo,20,20.0,India,H-901,444337

In [73]:
df[df["Quantity"]**2 + df["Shipping_Cost"]**2<500]

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
30,1408910000999914089,7,130,Delivered,2021-07-04,Healthcare,Sofia,20,NaN,UK,HC-630,443881
177,1923610000999919236,3,147,Delivered,2021-12-24,Office,Anthony,20,21.0,Italy,O-203,445554
178,2930810000999929308,3,190,Not Shipped,2021-10-11,Office,Pablo,21,20.0,China,O-555,444880
323,1321310000999913213,6,202,Not Shipped,2021-07-11,Fashion,Emma,21,15.0,USA,F-630,443888
336,2362110000999923621,3,178,Not Shipped,2021-07-10,Fashion,Stella,22,15.0,Italy,F-188,443887
...,...,...,...,...,...,...,...,...,...,...,...,...
9685,1382310000999913823,9,148,Shipped,2021-10-14,Entertainment,Jacob,20,18.0,Kenya,ENT-203,444883
9737,1370410000999913704,2,147,Not Delivered,2021-12-07,Home,Maria,21,15.0,USA,H-101,445337
9769,2248110000999922481,7,205,Delivered,2021-12-23,Office,Pablo,20,18.0,Kenya,O-101,445553
9849,3684910000999936849,2,149,Delivered,2021-12-24,Healthcare,Emma,20,14.0,Kenya,HC-630,445554
9955,4626010000999946260,6,249,Not Shipped,2021-08-29,Home,Pablo,20,20.0,India,H-901,444337

In [17]:
#Filtering using one condition and Maths calculation in it
df.query("UnitPrice > Shipping_Cost*5")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
5,4934810000999949348,51,204,Not Delivered,2021-11-13,Entertainment,Abdul,32,18.0,UK,ENT-188,445113
6,2750410000999927504,73,242,Not Delivered,2021-07-08,Healthcare,Emma,34,10.0,UK,HC-555,443885
...,...,...,...,...,...,...,...,...,...,...,...,...
9992,3733010000999937330,28,160,Shipped,2021-09-27,Fashion,Anthony,21,14.0,India,F-188,444666
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

In [76]:
#Filtering using one condition and Maths calculation in it with built-in function
df.query("sqrt(UnitPrice) > 15")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
6,2750410000999927504,73,242,Not Delivered,2021-07-08,Healthcare,Emma,34,10.0,UK,HC-555,443885
7,4797510000999947975,48,240,Delivered,2021-10-04,Fashion,Abdul,22,21.0,Kenya,F-203,444773
10,4337210000999943372,57,226,Not Shipped,2021-09-27,Home,John,24,14.0,UK,H-555,444666
...,...,...,...,...,...,...,...,...,...,...,...,...
9967,3167110000999931671,99,233,Delivered,2021-11-02,Home,Emma,30,19.0,Kenya,H-555,445002
9976,4106710000999941067,47,237,Not Shipped,2021-09-10,Office,Stella,24,15.0,USA,O-188,444449
9985,1541410000999915414,92,230,Shipped,2021-10-26,Fashion,Emma,26,24.0,China,F-901,444995
9989,1928010000999919280,17,235,Shipped,2021-09-14,Fashion,Emma,27,18.0,Germany,F-901,444553
9998,1468010000999914680,53,229,Delivered,2021-07-12,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889

In [77]:
#Filtering using one condition and Maths calculation in it with built-in function --> combination of maths and function
df.query("sqrt(UnitPrice) < Shipping_Cost/2")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
5,4934810000999949348,51,204,Not Delivered,2021-11-13,Entertainment,Abdul,32,18.0,UK,ENT-188,445113
6,2750410000999927504,73,242,Not Delivered,2021-07-08,Healthcare,Emma,34,10.0,UK,HC-555,443885
8,2804110000999928041,31,163,Not Shipped,2021-12-23,Fashion,Abdul,34,16.0,Kenya,F-901,445553
...,...,...,...,...,...,...,...,...,...,...,...,...
9988,4264110000999942641,4,187,Not Delivered,2021-11-20,Healthcare,Maria,34,15.0,UK,HC-203,445220
9993,2363310000999923633,82,116,Shipped,2021-09-21,Entertainment,Emma,33,12.0,Singapore,ENT-188,444660
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553

In [35]:
#Filtering using Text values
df.query("Quantity == 95 and Product_Category == 'Healthcare'")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
78,3457310000999934573,95,182,Not Shipped,2021-11-16,Healthcare,John,28,25.0,Singapore,HC-203,445116
102,1464410000999914644,95,227,Shipped,2021-10-26,Healthcare,Sofia,30,18.0,UK,HC-901,444995
298,4005610000999940056,95,180,Delivered,2021-09-19,Healthcare,Pablo,35,18.0,UK,HC-203,444558
938,4859510000999948595,95,105,Shipped,2021-11-27,Healthcare,Maria,30,12.0,Italy,HC-188,445227
1695,1492710000999914927,95,167,Delivered,2021-07-29,Healthcare,John,21,15.0,Italy,HC-188,444006
1837,1645110000999916451,95,156,Delivered,2021-11-13,Healthcare,Pablo,28,21.0,Germany,HC-555,445113
2262,1269410000999912694,95,155,Delivered,2021-09-18,Healthcare,Abdul,20,14.0,India,HC-901,444557
2578,2769810000999927698,95,245,Delivered,2021-08-27,Healthcare,Sofia,21,18.0,Germany,HC-630,444335
2810,2799910000999927999,95,115,Not Delivered,2021-11-01,Healthcare,Anthony,30,20.0,Italy,HC-630,445001
2945,3731010000999937310,95,120,Delivered,2021-09-20,Healthcare,Abdul,26,21.0,UK,HC-101,444559
3081,3941410000999939414,95,182,Shipped,2021-11-11,Healthcare,Abdul,34,18.0,UK,HC-101,445111
3416,4832810000999948328,95,141,Not Shipped,2021-08-11,Healthcare,Kristen,25,10.0,China,HC-203,444119
3446,2273310000999922733,95,133,Not Shipped,2021-07-11,Healthcare,Maria,22,12.0,Kenya,HC-203,443888
3793,4947410000999949474,95,147,Shipped,2021-10-29,Healthcare,Abdul,32,17.0,China,HC-630,444998
3841,4558610000999945586,95,166,Shipped,2021-10-10,Healthcare,Sofia,21,15.0,Singapore,HC-188,444779
4061,1393810000999913938,95,227,Shipped,2021-09-02,Healthcare,Anthony,28,22.0,Italy,HC-630,444441
4119,4087010000999940870,95,214,Delivered,2021-08-20,Healthcare,Kristen,21,19.0,USA,HC-101,444228
5093,3163110000999931631,95,124,Not Shipped,2021-08-18,Healthcare,Sofia,21,12.0,India,HC-555,444226
5944,2681210000999926812,95,211,Not Delivered,2021-07-13,Healthcare,Abdul,32,11.0,India,HC-188,443990
6085,3969710000999939697,95,181,Not Shipped,2021-09-10,Healthcare,Jacob,23,19.0,China,HC-101,444449
6093,3940110000999939401,95,102,Not Delivered,2021-07-03,Healthcare,Sofia,29,14.0,Singapore,HC-101,443880
6434,2686410000999926864,95,233,Not Delivered,2021-10-04,Healthcare,Pablo,31,19.0,USA,HC-555,444773
6581,3514310000999935143,95,145,Shipped,2021-12-10,Healthcare,John,29,15.0,China,HC-188,445440
7686,2221210000999922212,95,242,Not Delivered,2021-07-10,Healthcare,Maria,27,20.0,India,HC-901,443887
7795,1127710000999911277,95,213,Not Delivered,2021-11-13,Healthcare,Anthony,35,12.0,Germany,HC-101,445113
8189,1913910000999919139,95,236,Delivered,2021-08-28,Healthcare,Kristen,34,25.0,Singapore,HC-555,444336
8704,4097410000999940974,95,108,Delivered,2021-11-11,Healthcare,John,24,14.0,Singapore,HC-901,445111

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderID           9999 non-null   int64
 1   Quantity          9999 non-null   int64
 2   UnitPrice         9999 non-null   int64
 3   Status            9999 non-null   object
 4   OrderDate         9999 non-null   object
 5   Product_Category  9963 non-null   object
 6   Sales_Manager     9999 non-null   object
 7   Shipping_Cost     9999 non-null   int64
 8   Delivery_Time     9948 non-null   float64
 9   Shipping_Address  9999 non-null   object
 10  Product_Code      9999 non-null   object
 11  OrderCode         9999 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 937.5+ KB

In [84]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"], format="%Y-%m-%d")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderID           9999 non-null   int64
 1   Quantity          9999 non-null   int64
 2   UnitPrice         9999 non-null   int64
 3   Status            9999 non-null   object
 4   OrderDate         9999 non-null   datetime64[ns]
 5   Product_Category  9963 non-null   object
 6   Sales_Manager     9999 non-null   object
 7   Shipping_Cost     9999 non-null   int64
 8   Delivery_Time     9948 non-null   float64
 9   Shipping_Address  9999 non-null   object
 10  Product_Code      9999 non-null   object
 11  OrderCode         9999 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 937.5+ KB

In [44]:
df.head()

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
3,1112610000999911126,33,133,Not Shipped,2021-07-30,Fashion,Abdul,34,24.0,USA,F-555,444007
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223

In [45]:
#Filtering using Datetime columns
df.query("OrderDate.dt.month == 8")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
0,2951110000999929511,92,238,Not Delivered,2021-08-08,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
9,1735910000999917359,62,214,Not Delivered,2021-08-14,Fashion,John,22,17.0,Germany,F-901,444222
17,1932510000999919325,62,237,Delivered,2021-08-24,Fashion,Stella,32,13.0,Italy,F-203,444332
32,1859110000999918591,22,155,Shipped,2021-08-14,Home,Jacob,35,13.0,Kenya,H-203,444222
...,...,...,...,...,...,...,...,...,...,...,...,...
9974,4241810000999942418,79,220,Not Delivered,2021-08-18,Home,Pablo,32,17.0,Singapore,H-555,444226
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336
9981,4904910000999949049,73,209,Shipped,2021-08-20,Healthcare,Sofia,33,12.0,UK,HC-203,444228
9983,4107210000999941072,57,162,Not Delivered,2021-08-26,Healthcare,Abdul,23,21.0,India,HC-188,444334

In [86]:
df.query("OrderDate.dt.month == 8 and OrderDate.dt.year == 2021 and OrderDate.dt.day >=15")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
17,1932510000999919325,62,237,Delivered,2021-08-24,Fashion,Stella,32,13.0,Italy,F-203,444332
33,3255510000999932555,96,202,Delivered,2021-08-20,Office,Anthony,22,24.0,Italy,O-555,444228
57,2585010000999925850,23,143,Delivered,2021-08-24,Office,Jacob,27,17.0,Germany,O-188,444332
64,1999610000999919996,50,197,Delivered,2021-08-27,Home,Sofia,30,15.0,Germany,H-630,444335
...,...,...,...,...,...,...,...,...,...,...,...,...
9974,4241810000999942418,79,220,Not Delivered,2021-08-18,Home,Pablo,32,17.0,Singapore,H-555,444226
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336
9981,4904910000999949049,73,209,Shipped,2021-08-20,Healthcare,Sofia,33,12.0,UK,HC-203,444228
9983,4107210000999941072,57,162,Not Delivered,2021-08-26,Healthcare,Abdul,23,21.0,India,HC-188,444334

In [88]:
df.query("OrderDate > '2021-08-15'")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
1,2181910000999921819,61,136,Not Delivered,2021-10-03,Office,Pablo,34,14.0,UK,O-555,444772
2,3239110000999932391,67,235,Not Delivered,2021-09-27,Office,Kristen,25,11.0,Kenya,O-188,444666
5,4934810000999949348,51,204,Not Delivered,2021-11-13,Entertainment,Abdul,32,18.0,UK,ENT-188,445113
7,4797510000999947975,48,240,Delivered,2021-10-04,Fashion,Abdul,22,21.0,Kenya,F-203,444773
8,2804110000999928041,31,163,Not Shipped,2021-12-23,Fashion,Abdul,34,16.0,Kenya,F-901,445553
...,...,...,...,...,...,...,...,...,...,...,...,...
9993,2363310000999923633,82,116,Shipped,2021-09-21,Entertainment,Emma,33,12.0,Singapore,ENT-188,444660
9994,2301610000999923016,75,201,Not Delivered,2021-10-16,Home,Sofia,20,14.0,Kenya,H-555,444885
9995,1847410000999918474,37,135,Shipped,2021-10-03,Healthcare,Maria,30,23.0,China,HC-901,444772
9996,2385710000999923857,81,207,Delivered,2021-11-13,Office,Emma,29,18.0,USA,O-203,445113
9997,2281610000999922816,18,117,Shipped,2021-12-23,Fashion,Stella,22,24.0,Italy,F-101,445553

In [89]:
df.query("OrderDate >= '2021-08-15' and OrderDate <= '2021-08-31'")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
4,1548310000999915483,13,189,Not Delivered,2021-08-15,Fashion,Stella,24,19.0,Kenya,F-555,444223
17,1932510000999919325,62,237,Delivered,2021-08-24,Fashion,Stella,32,13.0,Italy,F-203,444332
33,3255510000999932555,96,202,Delivered,2021-08-20,Office,Anthony,22,24.0,Italy,O-555,444228
57,2585010000999925850,23,143,Delivered,2021-08-24,Office,Jacob,27,17.0,Germany,O-188,444332
64,1999610000999919996,50,197,Delivered,2021-08-27,Home,Sofia,30,15.0,Germany,H-630,444335
...,...,...,...,...,...,...,...,...,...,...,...,...
9974,4241810000999942418,79,220,Not Delivered,2021-08-18,Home,Pablo,32,17.0,Singapore,H-555,444226
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336
9981,4904910000999949049,73,209,Shipped,2021-08-20,Healthcare,Sofia,33,12.0,UK,HC-203,444228
9983,4107210000999941072,57,162,Not Delivered,2021-08-26,Healthcare,Abdul,23,21.0,India,HC-188,444334

In [91]:
df.query("OrderDate >= '2021-08-15' and OrderDate <= '2021-08-31' and Status == 'Delivered'")

,OrderID,Quantity,UnitPrice,Status,OrderDate,Product_Category,Sales_Manager,Shipping_Cost,Delivery_Time,Shipping_Address,Product_Code,OrderCode
17,1932510000999919325,62,237,Delivered,2021-08-24,Fashion,Stella,32,13.0,Italy,F-203,444332
33,3255510000999932555,96,202,Delivered,2021-08-20,Office,Anthony,22,24.0,Italy,O-555,444228
57,2585010000999925850,23,143,Delivered,2021-08-24,Office,Jacob,27,17.0,Germany,O-188,444332
64,1999610000999919996,50,197,Delivered,2021-08-27,Home,Sofia,30,15.0,Germany,H-630,444335
65,4497510000999944975,79,131,Delivered,2021-08-18,Entertainment,Anthony,22,10.0,Singapore,ENT-203,444226
...,...,...,...,...,...,...,...,...,...,...,...,...
9877,3729310000999937293,37,223,Delivered,2021-08-18,Healthcare,Abdul,29,15.0,Italy,HC-901,444226
9910,4268710000999942687,21,144,Delivered,2021-08-24,Healthcare,Kristen,25,11.0,Kenya,HC-188,444332
9963,3433910000999934339,36,103,Delivered,2021-08-24,Office,Pablo,27,10.0,Singapore,O-630,444332
9975,3001610000999930016,80,174,Delivered,2021-08-30,Home,Maria,33,25.0,China,H-188,444338
9977,3374310000999933743,37,156,Delivered,2021-08-28,Home,Maria,23,18.0,Singapore,H-188,444336

In [92]:
df.shape

(9999, 12)